$primaryColor: #5C7AFF;
$secondaryColor: #AFCBFF;
$blackColor: #0E1116;
$whiteColor: #DDDDDD;
$grayColor: #3c3c3c;

$maxSectionWidth: 1200px;

$fontTitleSize: 48px;
$fontSubtitleSize: 32px;
$fontDescriptionSize: 24px;

@font-face {
    font-family: 'SansArabic';
    src: url('../fonts/IBMPlexSansArabic-Regular.ttf');
}

@font-face {
    font-family: 'SansArabic-semibold';
    src: url('../fonts/IBMPlexSansArabic-SemiBold.ttf');
}