@font-face {
  font-family: 'SansArabic';
  src: url("../fonts/IBMPlexSansArabic-Regular.ttf");
}

@font-face {
  font-family: 'SansArabic-semibold';
  src: url("../fonts/IBMPlexSansArabic-SemiBold.ttf");
}

html {
  height: 100%;
}

html*,
html *::before,
html *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #0E1116;
}

html body #root {
  width: 100%;
}

html body .app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  font-family: 'SansArabic';
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

html body .app .body {
  width: 100%;
  height: 100%;
  position: relative;
  background: #0E1116;
}

.navbar-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  z-index: 2;
}

.navbar-section .navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  background-color: #5C7AFF;
}

.navbar-section .navbar-container .navbar-text {
  font-family: 'SansArabic';
  font-size: 19px;
  text-align: left;
  text-transform: uppercase;
  color: #AFCBFF;
}

.navbar-section .navbar-container .navbar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 60%;
}

.navbar-section .navbar-container .navbar-links .navbar-item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #AFCBFF;
  text-transform: uppercase;
  font-family: 'SansArabic';
  font-size: 19px;
}

.navbar-section .navbar-container .navbar-links .navbar-item.withHover:hover {
  color: #0E1116;
  background-color: #AFCBFF;
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
  .navbar-section {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .navbar-section .navbar-container {
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-section .navbar-container .navbar-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .navbar-section .navbar-container .navbar-links .navbar-item {
    padding: 16px 0;
    height: 100%;
    width: 100%;
  }
}

.footer-section {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 100%;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-section .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  width: 80%;
  height: 100%;
  text-align: center;
}

.footer-section .footer-container .footer__title {
  font-family: 'SansArabic';
  font-size: 19px;
  color: #3c3c3c;
}

.footer-section .footer-container .footer__subtitle {
  font-family: 'SansArabic';
  font-size: 19px;
  color: #3c3c3c;
}

.footer-section .footer-container .footer__link {
  font-family: 'SansArabic';
  font-size: 19px;
  color: #5C7AFF;
  text-decoration: none;
  padding: 0 5px;
}

.footer-section .footer-container .footer__link:hover {
  color: #AFCBFF;
}

.home-section {
  margin: 0;
  padding: 0;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #0E1116;
}

.home-section .home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
}

.home-section .home-container .home-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.home-section .home-container .home-header .home-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.home-section .home-container .home-header .home-title .home-title__text {
  font-family: 'SansArabic-semibold';
  font-size: 48px;
  font-weight: bold;
  color: #5C7AFF;
}

.home-section .home-container .home-header .home-title .home-title__icon {
  height: 48px;
  width: 48px;
}

.home-section .home-container .home-header .home__description {
  width: 60%;
  text-align: center;
  font-size: 24px;
  color: #DDDDDD;
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
  .home-section .home-container .home-header {
    text-align: center;
  }
  .home-section .home-container .home-header .home-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.tool-section {
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.tool-section .tool-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  width: 100%;
  height: 100%;
}

.tool-section .tool-container .tool-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 1000px;
}

.tool-section .tool-container .tool-left .tool-left-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.tool-section .tool-container .tool-left .tool-left-title .tool-left-title__text {
  font-family: 'SansArabic';
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  color: #AFCBFF;
}

.tool-section .tool-container .tool-left .tool-left-title .tool-left-title__icon {
  width: 32px;
  height: 32px;
}

.tool-section .tool-container .tool-left .tool-left__textarea {
  width: 100%;
  background-color: transparent;
  color: white;
  font-family: 'SansArabic';
  font-size: 24px;
  outline: none;
  border-radius: 10px;
  border: 2px solid transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-color: #DDDDDD;
}

.tool-section .tool-container .tool-left .tool-left__textarea:hover {
  cursor: pointer;
}

.tool-section .tool-container .tool-left .tool-left__textarea:focus {
  cursor: text;
  border-color: #5C7AFF;
}

.tool-section .tool-container .tool-right {
  height: 100%;
  width: 100%;
  -ms-flex-negative: 8;
      flex-shrink: 8;
}

.tool-section .tool-container .tool-right .tool-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #DDDDDD;
  list-style: none;
  text-align: left;
  width: 100%;
  height: 100%;
}

.tool-section .tool-container .tool-right .tool-list .tool-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.tool-section .tool-container .tool-right .tool-list .tool-list__item .tool-item__num {
  color: #AFCBFF;
}

.tool-section .tool-container .tool-right .tool-list .tool-list__item .tool-item__text {
  font-family: 'SansArabic';
  font-size: 24px;
}

.tool-section .tool-container .tool-right .tool-list .tool-list__item .tool-item__icon {
  width: 48px;
  height: 48px;
}

.tool-section .tool-container .tool-right .tool-list .tool-list__item .tool-item__btn {
  border: none;
  font-size: 24px;
  font-family: 'SansArabic';
  border-radius: 10px;
  padding: 5px 20px;
  background-color: transparent;
  border: 2px solid #5C7AFF;
  color: #DDDDDD;
}

.tool-section .tool-container .tool-right .tool-list .tool-list__item .tool-item__btn:hover {
  cursor: pointer;
  background-color: #5C7AFF;
  color: #0E1116;
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
  .tool-section .tool-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tool-section .tool-container .tool-left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .tool-section .tool-container .tool-left .tool-left-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0;
  }
  .tool-section .tool-container .tool-left .tool-left-title .tool-left-title__text {
    font-size: 24px;
  }
  .tool-section .tool-container .tool-left .tool-left__textarea {
    width: 80%;
    height: 50%;
  }
  .tool-section .tool-container .tool-right .tool-list {
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=index.css.map */