@import "./variables";

html {
  height: 100%;
  &*,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: $blackColor;
    #root {
      width: 100%;
    }
    .app {
      display: flex;
      flex-direction: column;
			position: relative;
      overflow-x: hidden;
      width: 100%;
      height: 100%;
      font-family: 'SansArabic';
      transition: all 0.3s ease-in-out;
      .body{
        width: 100%;
        height: 100%;
        position: relative;
        background: $blackColor;
      }
    }
  }
}

// components
@import "./components/navbar";
@import "./components/footer";

// sections
@import "./home";
@import "./tool";